*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
--header-block: #daa520;
--header-bg:#add8e6;
--section-bg1:#00008b;
--section-bg2:#d3d3d3;
--dark-bg:#23272a;
--section1-block1:#ee82ee;
--section-block1:#1e90ff;
--section-block2:#ffc0cb;
--section-block3:#228b22;
--section-footer-top1:#f08080;
--section-footer-top2:#20b2aa;
--footer-bar:#7fffd4;
--footer-bt:#fab2bc;
}
:root
{
--haeder--bg:#3161e0;
}
/* #region utility */
.cw{
    max-width: 1000px;
    width: 80%;
}
.ma{
    margin: auto;
}
.d-flex{
    display: flex;    
}
.tdn-w{
    text-decoration: none;
    color: white;    
}
.tdn-b{
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 15%;
    padding: 5px;
    font-size: smaller;
}
/* #endregion utility */
/* #region debug */
.debug .db{
    border: 1px dashed black;
}
.debug header{
    background-color: var(--header-bg);
    height: 50px;
}
.debug .bar-header{
    height: 30px;
    background-color: var(--header-block);        
}
.debug .section1{
    height: 300px;
    background-color: var(--section-bg1);
}
.debug .violet-block{
    width: 500px;
    height: 200px;
    background-color: var(--section1-block1);    
}
.debug .section2{
    height: 200px;
    background-color: white;   
    border-bottom: 1px solid black; 
}
.debug .blue-block{
    width: 70%;
    height: 150px;
    background-color: var(--section-block1);    
}
.debug .pink-block{
    width: 30%;
    height: 150px;
    background-color: var(--section-block2);
}
.debug .section3{
    height: 200px;
    background-color: var(--section-bg2);  
}
.debug .pink-block{
    width: 30%;
    height: 150px;
    background-color: var(--section-block2);
}
.debug .section4{
    background-color: var(--section-bg2);
    height: 400px;
}
.debug .green-block{
    height: 300px;
    background-color: var(--section-block3)
}
.debug .footer-top{
    height: 330px;    
    border-bottom: 1px solid white;
}
.debug .dark-pink-block{    
    height: 300px;
    background-color: var(--section-footer-top1);
    border: 1px dashed black;
}
.debug .dark-blue-block{    
    height: 300px;
    background-color: var(--section-footer-top2);
    border: 1px dashed white;
}
.debug .footer-bottom{
    height: 50px;
}
.debug .footer-bar{
    background-color: var(--footer-bar);
    height: 30px;    
}
.debug .logo-footer, .button-footer{
    height: 30px;
    background-color: var(--footer-bt);
}
/* #endregion debug */

header{
    background-color: var(--haeder--bg);
    /* position: fixed; */
    width: 100%;
}
.bar-header{
    align-items: center;
    justify-content: space-between;    
}
.link{
    gap: 10px;
}
.jumbo{
    height: 300px;
    background-image: url("./img/jumbo.png"); 
    background-size: cover;
}
.container-jumbo{
    color: white;
    text-align: center;
    padding: 20px;
}   
h3{
    padding: 30px;
}
.black-task{
    background-color: black;
    border-radius: 15px;
    padding: 5px;
    font-size: smaller;
}
.talk-place{
    padding-top: 30px;
    padding-left: 50px;
    text-align: left;
}
.fandom{
    height: 200px;
    background-image: url("./img/wave.svg");
    background-repeat: repeat;
    background-color: rgb(9, 7, 7);
}
.Keep-contact{
    color: black;
    text-align: center;
}
.tdn-blue{
    text-decoration: none;
    color: white;
    background-color: #1e90ff;
    border-radius: 15px;
    padding: 5px;
}

footer{
    background-color: var(--dark-bg);
}

.Col1-footer-bottom{
    width: calc(100%/6*2);
    color: #3161e0;
}

.dark-blue-block{
    width: calc(100%/6);   
}

.footer-bar{
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo-footer, .button-footer{
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}
.logo-footer{
    width: 50px;
}
.button-footer{
    width: 80px;
}